USE [master]
GO
/****** Object:  Database [QLNhanSu]    Script Date: 8/7/2022 10:03:27 AM ******/
CREATE DATABASE [QLNhanSu]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLNhanSu', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\QLNhanSu.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLNhanSu_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\QLNhanSu_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLNhanSu].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLNhanSu]
GO
/****** Object:  Table [dbo].[BANGCONG]    Script Date: 8/7/2022 10:03:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BANGCONG](
	[MABC] [int] IDENTITY(1,1) NOT NULL,
	[NAM] [int] NULL,
	[THANG] [int] NULL,
	[NGAY] [int] NULL,
	[MANV] [int] NULL,
	[IDBANGCONG] [int] NULL,
 CONSTRAINT [PK_BANGCONG] PRIMARY KEY CLUSTERED 
(
	[MABC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BANGCONGNVCHITIET]    Script Date: 8/7/2022 10:03:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BANGCONGNVCHITIET](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MAKYCONG] [int] NULL,
	[MANV] [int] NULL,
	[HOTEN] [nvarchar](50) NULL,
	[NGAY] [datetime] NULL,
	[THU] [nvarchar](50) NULL,
	[GIOVAO] [nvarchar](50) NULL,
	[GIORA] [nvarchar](50) NULL,
	[NGAYPHEP] [float] NULL,
	[CONGNGAYLE] [float] NULL,
	[NGAYCONG] [float] NULL,
	[CONGCHUNHAT] [float] NULL,
	[KYHIEU] [nvarchar](50) NULL,
	[GHICHU] [nvarchar](500) NULL,
	[CREATE_BY] [int] NULL,
	[CREATE_DATE] [datetime] NULL,
	[UPDATE_BY] [int] NULL,
	[UPDATE_DATE] [datetime] NULL,
 CONSTRAINT [PK_BANGCONG_NHANVIEN_CT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BANGLUONG]    Script Date: 8/7/2022 10:03:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BANGLUONG](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MAKYCONG] [int] NULL,
	[MANV] [int] NULL,
	[HOTEN] [nvarchar](50) NULL,
	[NGAYCONGTHANG] [int] NULL,
	[NGAYPHEP] [float] NULL,
	[KHONGPHEP] [float] NULL,
	[NGAYLE] [float] NULL,
	[NGAYCHUNHAT] [float] NULL,
	[TANGCA] [float] NULL,
	[PHUCAP] [float] NULL,
	[NGAYTHUONG] [float] NULL,
	[THUCLANH] [float] NULL,
	[CREATE_BY] [int] NULL,
	[CREATE_DATE] [datetime] NULL,
	[UPDATE_BY] [int] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[DELETE_BY] [int] NULL,
	[DELETE_DATE] [datetime] NULL,
 CONSTRAINT [PK_BANGLUONG] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BOPHAN]    Script Date: 8/7/2022 10:03:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOPHAN](
	[IDBP] [int] IDENTITY(1,1) NOT NULL,
	[TENBP] [nvarchar](50) NULL,
 CONSTRAINT [PK_BOPHAN] PRIMARY KEY CLUSTERED 
(
	[IDBP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHUCVU]    Script Date: 8/7/2022 10:03:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUCVU](
	[IDCV] [int] IDENTITY(1,1) NOT NULL,
	[TENCV] [nvarchar](50) NULL,
 CONSTRAINT [PK_CHUCVU] PRIMARY KEY CLUSTERED 
(
	[IDCV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DANTOC]    Script Date: 8/7/2022 10:03:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANTOC](
	[IDDT] [int] IDENTITY(1,1) NOT NULL,
	[TENDT] [nvarchar](50) NULL,
 CONSTRAINT [PK_DANTOC] PRIMARY KEY CLUSTERED 
(
	[IDDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOPDONG]    Script Date: 8/7/2022 10:03:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOPDONG](
	[SOHD] [nvarchar](50) NOT NULL,
	[NGAYBATDAU] [datetime] NULL,
	[NGAYKETTHUC] [datetime] NULL,
	[NGAYKI] [datetime] NULL,
	[LANKY] [int] NULL,
	[NOIDUNG] [nvarchar](max) NULL,
	[THOIHAN] [nvarchar](50) NULL,
	[HESOLUONG] [float] NULL,
	[LUONGCOBAN] [int] NULL,
	[MANV] [int] NULL,
	[DELETED_BY] [int] NULL,
	[DELETE_DATE] [datetime] NULL,
	[UPDATE_BY] [int] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATE] [datetime] NULL,
 CONSTRAINT [PK_HOPDONGLD] PRIMARY KEY CLUSTERED 
(
	[SOHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHENTHUONGKYLUAT]    Script Date: 8/7/2022 10:03:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHENTHUONGKYLUAT](
	[SOQD] [nvarchar](50) NOT NULL,
	[LYDO] [nvarchar](200) NULL,
	[NOIDUNG] [nvarchar](200) NULL,
	[NGAY] [datetime] NULL,
	[MANV] [int] NULL,
	[LOAI] [int] NULL,
	[NGAYBATDAU] [datetime] NULL,
	[NGAYKETTHUC] [datetime] NULL,
	[CREATE_BY] [int] NULL,
	[CREATE_DATE] [datetime] NULL,
	[UPDATE_BY] [int] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[DELETE_BY] [int] NULL,
	[DELETE_DATE] [datetime] NULL,
 CONSTRAINT [PK_KHENTHUONGKYLUAT_1] PRIMARY KEY CLUSTERED 
(
	[SOQD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KYCONG]    Script Date: 8/7/2022 10:03:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KYCONG](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MAKYCONG] [int] NULL,
	[THANG] [int] NULL,
	[NAM] [int] NULL,
	[KHOA] [bit] NULL,
	[NGAYTINHCONG] [datetime] NULL,
	[NGAYCONGTHANG] [float] NULL,
	[TRANGTHAI] [bit] NULL,
	[CREATE_BY] [int] NULL,
	[CREATE_DATE] [datetime] NULL,
	[UPDATE_BY] [int] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[DELETE_BY] [int] NULL,
	[DELETE_DATE] [datetime] NULL,
 CONSTRAINT [PK_KYCONG] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KYCONGCHITIET]    Script Date: 8/7/2022 10:03:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KYCONGCHITIET](
	[MAKYCONG] [int] NOT NULL,
	[MANV] [int] NOT NULL,
	[HOTEN] [nvarchar](50) NULL,
	[MACTY] [nvarchar](4) NULL,
	[D1] [nvarchar](10) NULL,
	[D2] [nvarchar](10) NULL,
	[D3] [nvarchar](10) NULL,
	[D4] [nvarchar](10) NULL,
	[D5] [nvarchar](10) NULL,
	[D6] [nvarchar](10) NULL,
	[D7] [nvarchar](10) NULL,
	[D8] [nvarchar](10) NULL,
	[D9] [nvarchar](10) NULL,
	[D10] [nvarchar](10) NULL,
	[D11] [nvarchar](10) NULL,
	[D12] [nvarchar](10) NULL,
	[D13] [nvarchar](10) NULL,
	[D14] [nvarchar](10) NULL,
	[D15] [nvarchar](10) NULL,
	[D16] [nvarchar](10) NULL,
	[D17] [nvarchar](10) NULL,
	[D18] [nvarchar](10) NULL,
	[D19] [nvarchar](10) NULL,
	[D20] [nvarchar](10) NULL,
	[D21] [nvarchar](10) NULL,
	[D22] [nvarchar](10) NULL,
	[D23] [nvarchar](10) NULL,
	[D24] [nvarchar](10) NULL,
	[D25] [nvarchar](10) NULL,
	[D26] [nvarchar](10) NULL,
	[D27] [nvarchar](10) NULL,
	[D28] [nvarchar](10) NULL,
	[D29] [nvarchar](10) NULL,
	[D30] [nvarchar](10) NULL,
	[D31] [nvarchar](10) NULL,
	[NGAYCONG] [float] NULL,
	[NGAYPHEP] [float] NULL,
	[NGHIKHONGPHEP] [float] NULL,
	[CONGNGAYLE] [float] NULL,
	[CONGCHUNHAT] [float] NULL,
	[TONGNGAYCONG] [float] NULL,
 CONSTRAINT [PK_KYCONGCHITIET] PRIMARY KEY CLUSTERED 
(
	[MAKYCONG] ASC,
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAICA]    Script Date: 8/7/2022 10:03:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAICA](
	[IDLOAICA] [int] IDENTITY(1,1) NOT NULL,
	[TENLOAICA] [nvarchar](50) NULL,
	[HESO] [float] NULL,
	[CREAT_BY] [int] NULL,
	[CREAT_DATE] [datetime] NULL,
	[UPDATE_BY] [int] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[DELETE_BY] [int] NULL,
	[DELETE_DATE] [datetime] NULL,
 CONSTRAINT [PK_LOAICA] PRIMARY KEY CLUSTERED 
(
	[IDLOAICA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAICONG]    Script Date: 8/7/2022 10:03:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAICONG](
	[IDLOAICONG] [int] IDENTITY(1,1) NOT NULL,
	[TENLC] [nvarchar](50) NULL,
	[HESO] [float] NULL,
	[CREATE_BY] [int] NULL,
	[CREATE_DATE] [datetime] NULL,
	[UPDATE_BY] [int] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[DELETE_BY] [int] NULL,
	[DELETE_DATE] [datetime] NULL,
 CONSTRAINT [PK_LOAICONG] PRIMARY KEY CLUSTERED 
(
	[IDLOAICONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 8/7/2022 10:03:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [int] IDENTITY(1,1) NOT NULL,
	[HOTEN] [nvarchar](50) NULL,
	[GIOITINH] [bit] NULL,
	[NGAYSINH] [datetime] NOT NULL,
	[DIENTHOAI] [nvarchar](50) NULL,
	[CCCD] [nvarchar](50) NULL,
	[DIACHI] [nvarchar](max) NULL,
	[QUEQUAN] [nvarchar](50) NULL,
	[IDPB] [int] NULL,
	[IDBP] [int] NULL,
	[IDCV] [int] NULL,
	[IDTD] [int] NULL,
	[IDDT] [int] NULL,
	[DATHOIVIEC] [bit] NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NV_THOIVIEC]    Script Date: 8/7/2022 10:03:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NV_THOIVIEC](
	[SOQD] [nvarchar](50) NOT NULL,
	[MANV] [int] NULL,
	[NGAYNOPDON] [datetime] NULL,
	[NGAYNGHI] [datetime] NULL,
	[LYDO] [nvarchar](200) NULL,
	[GHICHU] [nvarchar](200) NULL,
	[CREATE_BY] [int] NULL,
	[CREATE_DATE] [datetime] NULL,
	[UPDATE_BY] [int] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[DELETE_BY] [int] NULL,
	[DELETE_DATE] [datetime] NULL,
 CONSTRAINT [PK_NV_THOIVIEC] PRIMARY KEY CLUSTERED 
(
	[SOQD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHONGBAN]    Script Date: 8/7/2022 10:03:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHONGBAN](
	[IDPB] [int] IDENTITY(1,1) NOT NULL,
	[TENPB] [nvarchar](50) NULL,
	[CHUCNANG] [nvarchar](200) NULL,
 CONSTRAINT [PK_PHONGBAN] PRIMARY KEY CLUSTERED 
(
	[IDPB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHUCAP]    Script Date: 8/7/2022 10:03:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHUCAP](
	[IDPC] [int] IDENTITY(1,1) NOT NULL,
	[TENPC] [nvarchar](50) NULL,
	[SOTIEN] [float] NULL,
 CONSTRAINT [PK_PHUCAP] PRIMARY KEY CLUSTERED 
(
	[IDPC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHUCAP_NV]    Script Date: 8/7/2022 10:03:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHUCAP_NV](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MANV] [int] NULL,
	[IDPC] [int] NULL,
	[NGAY] [datetime] NULL,
	[NOIDUNG] [nvarchar](50) NULL,
	[SOTIEN] [float] NULL,
	[CREATE_BY] [int] NULL,
	[CREATE_DATE] [datetime] NULL,
	[UPDATE_BY] [int] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[DELETE_BY] [int] NULL,
	[DELETE_DATE] [datetime] NULL,
 CONSTRAINT [PK_PHUCAP_NV] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TANGCA]    Script Date: 8/7/2022 10:03:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TANGCA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAM] [int] NULL,
	[THANG] [int] NULL,
	[NGAY] [int] NULL,
	[SOGIO] [float] NULL,
	[MANV] [int] NULL,
	[SOTIEN] [float] NULL,
	[IDLOAICA] [int] NULL,
	[GHICHU] [nvarchar](250) NULL,
	[CREATE_BY] [int] NULL,
	[CREATE_DATE] [datetime] NULL,
	[UPDATE_BY] [int] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[DELETE_BY] [int] NULL,
	[DELETE_DATE] [datetime] NULL,
 CONSTRAINT [PK_TANGCA] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_config]    Script Date: 8/7/2022 10:03:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_config](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nchar](10) NULL,
	[VALUE] [nchar](10) NULL,
 CONSTRAINT [PK_tb_config] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THOIVIEC]    Script Date: 8/7/2022 10:03:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THOIVIEC](
	[SOQD] [nvarchar](50) NOT NULL,
	[NGAYNOPDON] [datetime] NULL,
	[NGAYNGHI] [datetime] NULL,
	[LYDO] [nvarchar](200) NULL,
	[GHICHU] [nvarchar](200) NULL,
	[CREATE_BY] [int] NULL,
	[CREATE_DATE] [datetime] NULL,
	[UPDATE_BY] [int] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[DELETE_BY] [int] NULL,
	[DELETE_DATE] [datetime] NULL,
 CONSTRAINT [PK_THOIVIEC] PRIMARY KEY CLUSTERED 
(
	[SOQD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRINHDO]    Script Date: 8/7/2022 10:03:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRINHDO](
	[IDTD] [int] IDENTITY(1,1) NOT NULL,
	[TENTD] [nvarchar](50) NULL,
	[BANGCAP] [nvarchar](50) NULL,
 CONSTRAINT [PK_TRINHDO] PRIMARY KEY CLUSTERED 
(
	[IDTD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BANGLUONG] ON 

INSERT [dbo].[BANGLUONG] ([ID], [MAKYCONG], [MANV], [HOTEN], [NGAYCONGTHANG], [NGAYPHEP], [KHONGPHEP], [NGAYLE], [NGAYCHUNHAT], [TANGCA], [PHUCAP], [NGAYTHUONG], [THUCLANH], [CREATE_BY], [CREATE_DATE], [UPDATE_BY], [UPDATE_DATE], [DELETE_BY], [DELETE_DATE]) VALUES (7, 202207, 3, N'Nguyễn Thị Hằng', 26, 0, NULL, 0, 0, 0, 0, 10000000, 10000000, 1, CAST(N'2022-08-05T14:12:08.653' AS DateTime), NULL, NULL, NULL, NULL)
INSERT [dbo].[BANGLUONG] ([ID], [MAKYCONG], [MANV], [HOTEN], [NGAYCONGTHANG], [NGAYPHEP], [KHONGPHEP], [NGAYLE], [NGAYCHUNHAT], [TANGCA], [PHUCAP], [NGAYTHUONG], [THUCLANH], [CREATE_BY], [CREATE_DATE], [UPDATE_BY], [UPDATE_DATE], [DELETE_BY], [DELETE_DATE]) VALUES (8, 202207, 10, N'Phạm Thu Hương', 26, 0, NULL, 0, 0, 0, 0, 14999999.999999998, 14999999.999999998, 1, CAST(N'2022-08-05T14:12:08.703' AS DateTime), NULL, NULL, NULL, NULL)
INSERT [dbo].[BANGLUONG] ([ID], [MAKYCONG], [MANV], [HOTEN], [NGAYCONGTHANG], [NGAYPHEP], [KHONGPHEP], [NGAYLE], [NGAYCHUNHAT], [TANGCA], [PHUCAP], [NGAYTHUONG], [THUCLANH], [CREATE_BY], [CREATE_DATE], [UPDATE_BY], [UPDATE_DATE], [DELETE_BY], [DELETE_DATE]) VALUES (9, 202207, 3, N'Nguyễn Thị Hằng', 26, 0, NULL, 0, 0, 0, 384615384615.38464, 10000000, 384625384615.38464, 1, CAST(N'2022-08-05T14:12:58.307' AS DateTime), NULL, NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[BANGLUONG] OFF
GO
SET IDENTITY_INSERT [dbo].[BOPHAN] ON 

INSERT [dbo].[BOPHAN] ([IDBP], [TENBP]) VALUES (1, N'Kế toán')
INSERT [dbo].[BOPHAN] ([IDBP], [TENBP]) VALUES (2, N'Thủ quỹ')
INSERT [dbo].[BOPHAN] ([IDBP], [TENBP]) VALUES (3, N'Sản xuất')
SET IDENTITY_INSERT [dbo].[BOPHAN] OFF
GO
SET IDENTITY_INSERT [dbo].[CHUCVU] ON 

INSERT [dbo].[CHUCVU] ([IDCV], [TENCV]) VALUES (0, N'Trưởng phòng')
INSERT [dbo].[CHUCVU] ([IDCV], [TENCV]) VALUES (1, N'Nhân viên')
INSERT [dbo].[CHUCVU] ([IDCV], [TENCV]) VALUES (2, N'Phó phòng')
SET IDENTITY_INSERT [dbo].[CHUCVU] OFF
GO
SET IDENTITY_INSERT [dbo].[DANTOC] ON 

INSERT [dbo].[DANTOC] ([IDDT], [TENDT]) VALUES (11, N'Kinh')
INSERT [dbo].[DANTOC] ([IDDT], [TENDT]) VALUES (12, N'Tày')
INSERT [dbo].[DANTOC] ([IDDT], [TENDT]) VALUES (13, N'Lào')
SET IDENTITY_INSERT [dbo].[DANTOC] OFF
GO
INSERT [dbo].[KHENTHUONGKYLUAT] ([SOQD], [LYDO], [NOIDUNG], [NGAY], [MANV], [LOAI], [NGAYBATDAU], [NGAYKETTHUC], [CREATE_BY], [CREATE_DATE], [UPDATE_BY], [UPDATE_DATE], [DELETE_BY], [DELETE_DATE]) VALUES (N'00001/2022/QĐKT', N'Thành tích xuất sắc', N'Giấy khen + 1 triệu đồng', CAST(N'2022-08-05T20:21:48.207' AS DateTime), 3, 1, NULL, NULL, 1, CAST(N'2022-08-05T20:22:55.667' AS DateTime), NULL, NULL, NULL, NULL)
INSERT [dbo].[KHENTHUONGKYLUAT] ([SOQD], [LYDO], [NOIDUNG], [NGAY], [MANV], [LOAI], [NGAYBATDAU], [NGAYKETTHUC], [CREATE_BY], [CREATE_DATE], [UPDATE_BY], [UPDATE_DATE], [DELETE_BY], [DELETE_DATE]) VALUES (N'00002/2022/QĐKT', N'Thành tích xuất sắc', N'Giấy khen + 1.500.000VNĐ', CAST(N'2022-08-05T20:26:15.337' AS DateTime), 7, 1, NULL, NULL, 1, CAST(N'2022-08-05T20:26:51.443' AS DateTime), 1, CAST(N'2022-08-05T20:29:55.800' AS DateTime), NULL, NULL)
INSERT [dbo].[KHENTHUONGKYLUAT] ([SOQD], [LYDO], [NOIDUNG], [NGAY], [MANV], [LOAI], [NGAYBATDAU], [NGAYKETTHUC], [CREATE_BY], [CREATE_DATE], [UPDATE_BY], [UPDATE_DATE], [DELETE_BY], [DELETE_DATE]) VALUES (N'00003/2022/QĐKT', N'Hoàn thành tốt công việc', N'Giấy khen + 500.000VNĐ ', CAST(N'2022-08-05T20:26:56.300' AS DateTime), 9, 1, NULL, NULL, 1, CAST(N'2022-08-05T20:28:16.590' AS DateTime), NULL, NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[KYCONG] ON 

INSERT [dbo].[KYCONG] ([ID], [MAKYCONG], [THANG], [NAM], [KHOA], [NGAYTINHCONG], [NGAYCONGTHANG], [TRANGTHAI], [CREATE_BY], [CREATE_DATE], [UPDATE_BY], [UPDATE_DATE], [DELETE_BY], [DELETE_DATE]) VALUES (1, 202207, 7, 2022, 0, CAST(N'2022-07-29T15:57:26.600' AS DateTime), 26, 0, 1, CAST(N'2022-07-29T15:57:26.600' AS DateTime), NULL, NULL, NULL, NULL)
INSERT [dbo].[KYCONG] ([ID], [MAKYCONG], [THANG], [NAM], [KHOA], [NGAYTINHCONG], [NGAYCONGTHANG], [TRANGTHAI], [CREATE_BY], [CREATE_DATE], [UPDATE_BY], [UPDATE_DATE], [DELETE_BY], [DELETE_DATE]) VALUES (2, 202208, 8, 2022, 0, CAST(N'2022-08-05T23:52:55.543' AS DateTime), 27, 0, 1, CAST(N'2022-08-05T23:52:55.543' AS DateTime), NULL, NULL, NULL, NULL)
INSERT [dbo].[KYCONG] ([ID], [MAKYCONG], [THANG], [NAM], [KHOA], [NGAYTINHCONG], [NGAYCONGTHANG], [TRANGTHAI], [CREATE_BY], [CREATE_DATE], [UPDATE_BY], [UPDATE_DATE], [DELETE_BY], [DELETE_DATE]) VALUES (3, 202206, 6, 2022, 0, CAST(N'2022-08-05T23:53:09.470' AS DateTime), 26, 0, 1, CAST(N'2022-08-05T23:53:09.470' AS DateTime), NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[KYCONG] OFF
GO
SET IDENTITY_INSERT [dbo].[LOAICA] ON 

INSERT [dbo].[LOAICA] ([IDLOAICA], [TENLOAICA], [HESO], [CREAT_BY], [CREAT_DATE], [UPDATE_BY], [UPDATE_DATE], [DELETE_BY], [DELETE_DATE]) VALUES (1, N'Ca sáng', 1, 1, CAST(N'2022-07-16T00:17:10.503' AS DateTime), NULL, NULL, NULL, NULL)
INSERT [dbo].[LOAICA] ([IDLOAICA], [TENLOAICA], [HESO], [CREAT_BY], [CREAT_DATE], [UPDATE_BY], [UPDATE_DATE], [DELETE_BY], [DELETE_DATE]) VALUES (2, N'Ca chiều', 1, 1, CAST(N'2022-07-16T00:17:17.527' AS DateTime), NULL, NULL, NULL, NULL)
INSERT [dbo].[LOAICA] ([IDLOAICA], [TENLOAICA], [HESO], [CREAT_BY], [CREAT_DATE], [UPDATE_BY], [UPDATE_DATE], [DELETE_BY], [DELETE_DATE]) VALUES (3, N'Ca đêm', 1.5, 1, CAST(N'2022-07-16T00:18:03.957' AS DateTime), NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[LOAICA] OFF
GO
SET IDENTITY_INSERT [dbo].[LOAICONG] ON 

INSERT [dbo].[LOAICONG] ([IDLOAICONG], [TENLC], [HESO], [CREATE_BY], [CREATE_DATE], [UPDATE_BY], [UPDATE_DATE], [DELETE_BY], [DELETE_DATE]) VALUES (1, N'Ngày thường', 1, 1, CAST(N'2022-07-16T15:59:32.167' AS DateTime), NULL, NULL, NULL, NULL)
INSERT [dbo].[LOAICONG] ([IDLOAICONG], [TENLC], [HESO], [CREATE_BY], [CREATE_DATE], [UPDATE_BY], [UPDATE_DATE], [DELETE_BY], [DELETE_DATE]) VALUES (2, N'Chủ nhật', 2, 1, CAST(N'2022-07-16T15:59:54.077' AS DateTime), NULL, NULL, NULL, NULL)
INSERT [dbo].[LOAICONG] ([IDLOAICONG], [TENLC], [HESO], [CREATE_BY], [CREATE_DATE], [UPDATE_BY], [UPDATE_DATE], [DELETE_BY], [DELETE_DATE]) VALUES (3, N'Nghỉ lễ', 3, 1, CAST(N'2022-07-16T16:00:06.160' AS DateTime), NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[LOAICONG] OFF
GO
SET IDENTITY_INSERT [dbo].[NHANVIEN] ON 

INSERT [dbo].[NHANVIEN] ([MANV], [HOTEN], [GIOITINH], [NGAYSINH], [DIENTHOAI], [CCCD], [DIACHI], [QUEQUAN], [IDPB], [IDBP], [IDCV], [IDTD], [IDDT], [DATHOIVIEC]) VALUES (3, N'Nguyễn Thị Hằng', 0, CAST(N'1980-01-15T22:02:29.000' AS DateTime), N'0182737474', N'102920393029', N'20 Trương Định, Hai Bà Trưng, Hà Nội', N'Hà Nôi', 6, 1, 1, 7, 11, NULL)
INSERT [dbo].[NHANVIEN] ([MANV], [HOTEN], [GIOITINH], [NGAYSINH], [DIENTHOAI], [CCCD], [DIACHI], [QUEQUAN], [IDPB], [IDBP], [IDCV], [IDTD], [IDDT], [DATHOIVIEC]) VALUES (7, N'Nguyễn Văn Nam', 1, CAST(N'1996-07-15T22:13:23.000' AS DateTime), N'0123456789', N'037300011020', N'300, Bạch Mai, HBT, Hà Nội', N'Ninh Bình', 11, 1, 1, 0, 11, NULL)
INSERT [dbo].[NHANVIEN] ([MANV], [HOTEN], [GIOITINH], [NGAYSINH], [DIENTHOAI], [CCCD], [DIACHI], [QUEQUAN], [IDPB], [IDBP], [IDCV], [IDTD], [IDDT], [DATHOIVIEC]) VALUES (8, N'Nguyễn Thị Hương', 0, CAST(N'1997-07-15T22:13:23.000' AS DateTime), N'0961998241', N'037300018967', N'230 Xã Đàn, Đống Đa', N'Hải Phòng', 0, 1, 1, 0, 11, 1)
SET IDENTITY_INSERT [dbo].[NHANVIEN] OFF
GO
INSERT [dbo].[NV_THOIVIEC] ([SOQD], [MANV], [NGAYNOPDON], [NGAYNGHI], [LYDO], [GHICHU], [CREATE_BY], [CREATE_DATE], [UPDATE_BY], [UPDATE_DATE], [DELETE_BY], [DELETE_DATE]) VALUES (N'00001/2022/QDTV', 8, CAST(N'2022-08-04T00:54:45.673' AS DateTime), CAST(N'2022-09-18T00:54:45.673' AS DateTime), N'Chuyển công tác', N'Đã duyệt', 1, CAST(N'2022-08-04T00:55:01.803' AS DateTime), 1, CAST(N'2022-08-05T23:52:02.340' AS DateTime), NULL, NULL)
INSERT [dbo].[NV_THOIVIEC] ([SOQD], [MANV], [NGAYNOPDON], [NGAYNGHI], [LYDO], [GHICHU], [CREATE_BY], [CREATE_DATE], [UPDATE_BY], [UPDATE_DATE], [DELETE_BY], [DELETE_DATE]) VALUES (N'00002/2022/QDTV', 13, CAST(N'2022-08-04T14:17:51.883' AS DateTime), CAST(N'2022-09-18T14:17:51.883' AS DateTime), N'Hết hợp đồng', N'Đã duyệt', 1, CAST(N'2022-08-04T14:18:26.547' AS DateTime), 1, CAST(N'2022-08-05T23:52:19.570' AS DateTime), NULL, NULL)
INSERT [dbo].[NV_THOIVIEC] ([SOQD], [MANV], [NGAYNOPDON], [NGAYNGHI], [LYDO], [GHICHU], [CREATE_BY], [CREATE_DATE], [UPDATE_BY], [UPDATE_DATE], [DELETE_BY], [DELETE_DATE]) VALUES (N'00003/2022/QDTV', 14, CAST(N'2022-08-04T14:20:23.707' AS DateTime), CAST(N'2022-09-18T14:20:23.707' AS DateTime), N'Chuyển nhà', N'Đã duyệt', 1, CAST(N'2022-08-04T14:20:45.080' AS DateTime), 1, CAST(N'2022-08-05T23:51:50.893' AS DateTime), NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[PHONGBAN] ON 

INSERT [dbo].[PHONGBAN] ([IDPB], [TENPB], [CHUCNANG]) VALUES (0, N'Nhân sự', N'Cập nhật sửa chữa hồ sơ nhân sự')
INSERT [dbo].[PHONGBAN] ([IDPB], [TENPB], [CHUCNANG]) VALUES (6, N'Tài chính kế toán', N'Tính lương, trả lương cho nhân viên')
INSERT [dbo].[PHONGBAN] ([IDPB], [TENPB], [CHUCNANG]) VALUES (7, N'Hành Chính', N'Giải quyết giấy tờ và thủ tục pháp lý của công ty')
SET IDENTITY_INSERT [dbo].[PHONGBAN] OFF
GO
SET IDENTITY_INSERT [dbo].[PHUCAP] ON 

INSERT [dbo].[PHUCAP] ([IDPC], [TENPC], [SOTIEN]) VALUES (1, N'Xăng xe', 3000000)
INSERT [dbo].[PHUCAP] ([IDPC], [TENPC], [SOTIEN]) VALUES (2, N'Cơm trưa', 2000000)
INSERT [dbo].[PHUCAP] ([IDPC], [TENPC], [SOTIEN]) VALUES (3, N'Chức vụ', 10000000)
SET IDENTITY_INSERT [dbo].[PHUCAP] OFF
GO
SET IDENTITY_INSERT [dbo].[PHUCAP_NV] ON 

INSERT [dbo].[PHUCAP_NV] ([ID], [MANV], [IDPC], [NGAY], [NOIDUNG], [SOTIEN], [CREATE_BY], [CREATE_DATE], [UPDATE_BY], [UPDATE_DATE], [DELETE_BY], [DELETE_DATE]) VALUES (1, 7, 1, CAST(N'2022-08-05T23:55:59.280' AS DateTime), N'Trợ cấp xăng xe', 1000000, 1, CAST(N'2022-07-29T22:19:57.013' AS DateTime), 1, CAST(N'2022-08-05T23:55:59.280' AS DateTime), NULL, NULL)
INSERT [dbo].[PHUCAP_NV] ([ID], [MANV], [IDPC], [NGAY], [NOIDUNG], [SOTIEN], [CREATE_BY], [CREATE_DATE], [UPDATE_BY], [UPDATE_DATE], [DELETE_BY], [DELETE_DATE]) VALUES (2, 7, 1, CAST(N'2022-08-05T23:55:40.400' AS DateTime), N'', 1000000, 1, CAST(N'2022-07-30T17:49:51.903' AS DateTime), 1, CAST(N'2022-08-05T23:55:40.400' AS DateTime), NULL, NULL)
INSERT [dbo].[PHUCAP_NV] ([ID], [MANV], [IDPC], [NGAY], [NOIDUNG], [SOTIEN], [CREATE_BY], [CREATE_DATE], [UPDATE_BY], [UPDATE_DATE], [DELETE_BY], [DELETE_DATE]) VALUES (3, 3, 1, CAST(N'2022-08-05T14:12:43.177' AS DateTime), N'', 1000000, 1, CAST(N'2022-08-05T14:12:43.177' AS DateTime), NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[PHUCAP_NV] OFF
GO
SET IDENTITY_INSERT [dbo].[TANGCA] ON 

INSERT [dbo].[TANGCA] ([ID], [NAM], [THANG], [NGAY], [SOGIO], [MANV], [SOTIEN], [IDLOAICA], [GHICHU], [CREATE_BY], [CREATE_DATE], [UPDATE_BY], [UPDATE_DATE], [DELETE_BY], [DELETE_DATE]) VALUES (1, 2022, 7, 31, 3, 8, 600000, 2, N'', 1, CAST(N'2022-07-31T09:33:27.230' AS DateTime), NULL, NULL, NULL, NULL)
INSERT [dbo].[TANGCA] ([ID], [NAM], [THANG], [NGAY], [SOGIO], [MANV], [SOTIEN], [IDLOAICA], [GHICHU], [CREATE_BY], [CREATE_DATE], [UPDATE_BY], [UPDATE_DATE], [DELETE_BY], [DELETE_DATE]) VALUES (2, 2022, 7, 31, 4, 11, 1200000, 3, N'', 1, CAST(N'2022-07-31T09:34:36.693' AS DateTime), NULL, NULL, NULL, NULL)
INSERT [dbo].[TANGCA] ([ID], [NAM], [THANG], [NGAY], [SOGIO], [MANV], [SOTIEN], [IDLOAICA], [GHICHU], [CREATE_BY], [CREATE_DATE], [UPDATE_BY], [UPDATE_DATE], [DELETE_BY], [DELETE_DATE]) VALUES (3, 2022, 8, 5, 4, 3, 800000, 1, N'', 1, CAST(N'2022-08-05T14:17:06.383' AS DateTime), NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[TANGCA] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_config] ON 

INSERT [dbo].[tb_config] ([ID], [NAME], [VALUE]) VALUES (1, N'TANGCA    ', N'200000    ')
SET IDENTITY_INSERT [dbo].[tb_config] OFF
GO
SET IDENTITY_INSERT [dbo].[TRINHDO] ON 

INSERT [dbo].[TRINHDO] ([IDTD], [TENTD], [BANGCAP]) VALUES (0, N'Trung Cấp', NULL)
INSERT [dbo].[TRINHDO] ([IDTD], [TENTD], [BANGCAP]) VALUES (1, N'Cao Học', N'Tiến sĩ')
INSERT [dbo].[TRINHDO] ([IDTD], [TENTD], [BANGCAP]) VALUES (2, N'Đại Học', N'Kĩ sư')
SET IDENTITY_INSERT [dbo].[TRINHDO] OFF
GO
ALTER TABLE [dbo].[BANGCONG]  WITH CHECK ADD  CONSTRAINT [FK_BANGCONG_LOAICONG] FOREIGN KEY([IDBANGCONG])
REFERENCES [dbo].[LOAICONG] ([IDLOAICONG])
GO
ALTER TABLE [dbo].[BANGCONG] CHECK CONSTRAINT [FK_BANGCONG_LOAICONG]
GO
ALTER TABLE [dbo].[BANGCONG]  WITH CHECK ADD  CONSTRAINT [FK_BANGCONG_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[BANGCONG] CHECK CONSTRAINT [FK_BANGCONG_NHANVIEN]
GO
ALTER TABLE [dbo].[HOPDONG]  WITH CHECK ADD  CONSTRAINT [FK_HOPDONGLD_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[HOPDONG] CHECK CONSTRAINT [FK_HOPDONGLD_NHANVIEN]
GO
ALTER TABLE [dbo].[KHENTHUONGKYLUAT]  WITH CHECK ADD  CONSTRAINT [FK_KHENTHUONGKYLUAT_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[KHENTHUONGKYLUAT] CHECK CONSTRAINT [FK_KHENTHUONGKYLUAT_NHANVIEN]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_BOPHAN] FOREIGN KEY([IDBP])
REFERENCES [dbo].[BOPHAN] ([IDBP])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_BOPHAN]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_CHUCVU] FOREIGN KEY([IDCV])
REFERENCES [dbo].[CHUCVU] ([IDCV])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_CHUCVU]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_DANTOC] FOREIGN KEY([IDDT])
REFERENCES [dbo].[DANTOC] ([IDDT])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_DANTOC]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_PHONGBAN] FOREIGN KEY([IDTD])
REFERENCES [dbo].[PHONGBAN] ([IDPB])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_PHONGBAN]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_TRINHDO] FOREIGN KEY([IDCV])
REFERENCES [dbo].[TRINHDO] ([IDTD])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_TRINHDO]
GO
ALTER TABLE [dbo].[PHUCAP_NV]  WITH CHECK ADD  CONSTRAINT [FK_PHUCAP_NV_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[PHUCAP_NV] CHECK CONSTRAINT [FK_PHUCAP_NV_NHANVIEN]
GO
ALTER TABLE [dbo].[PHUCAP_NV]  WITH CHECK ADD  CONSTRAINT [FK_PHUCAP_NV_PHUCAP] FOREIGN KEY([IDPC])
REFERENCES [dbo].[PHUCAP] ([IDPC])
GO
ALTER TABLE [dbo].[PHUCAP_NV] CHECK CONSTRAINT [FK_PHUCAP_NV_PHUCAP]
GO
ALTER TABLE [dbo].[TANGCA]  WITH CHECK ADD  CONSTRAINT [FK_TANGCA_LOAICA] FOREIGN KEY([IDLOAICA])
REFERENCES [dbo].[LOAICA] ([IDLOAICA])
GO
ALTER TABLE [dbo].[TANGCA] CHECK CONSTRAINT [FK_TANGCA_LOAICA]
GO
ALTER TABLE [dbo].[TANGCA]  WITH CHECK ADD  CONSTRAINT [FK_TANGCA_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[TANGCA] CHECK CONSTRAINT [FK_TANGCA_NHANVIEN]
GO
USE [master]
GO
